<!-- Navigation -->

      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" href="/ristorante/">ristorante</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ristorante/ricetta">primi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ristorante/ricetta3">carni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ristorante/ricetta2">dolci</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chisiamo/">chi siamo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contatti/">contatti</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/dove_siamo/">dove siamo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/acquista/">acquista</a>
        </li>

      </ul>
   
