<div class="container-fluid">
        <div class="row">
          
            <div class="col-sm-auto bg-light sticky-top">
                <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
                    <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                        <i class="bi-bootstrap fs-1"></i>
                    </a>
                    <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center">
                        <li class="nav-item">
                            <a href="/yard.html" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="yard">
                              <span class="material-icons">yard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/pets.html" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="pets">
                              <span class="material-icons">pets</span>
                            </a>
                        </li>
                        <li>
                            <a href="/face.html" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="face">
                              <span class="material-icons">face</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ecommerce.html" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="ecommerce">
                              <span class="material-icons">maps_home_work/span>
                            </a>
                        </li>
                        <li>
                            <a href="/resturant.html" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="local_bar">
                              <span class="material-icons-outlined">local_bar</span>
                            </a>
                        </li>
                        <li>
                          <a href="/pizza.html" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="local_bar">
                            <span class="material-icons-outlined">lunch_dining</span>
                          </a>
                        </li>
                </div>
            </div>
  
  
            <div class="col-sm p-3 min-vh-100">
                <!-- content -->
                {{ content }}

            </div>
        </div>
     </div>
  